*{
	margin: 0px;
	padding: 0px;
}

#Contenedor {
	width: 960px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	 overflow: hidden;
}

header {
	height: 150px;
	background: #CA8F6D; 	
}

header h1{
	font-size: 50px;
	font-family: Comic sans MS;
	text-align: center;
	line-height: 150px;
}

nav {
	background: #CA8F6D;
	height: 60px;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

nav a{
	color: #fff;
	display: block;
	padding: 18px;
	text-decoration: none;
	background: #CA8F6D;
	font-family: Comic sans MS;
}

nav a:hover{
	background: #76523E;
}
   
#Contenido {
	width: 1800px;
	height: 800px;
	float: left;
	background: #40706F;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#Contenido h2 {
	font-family: Comic sans MS;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
}

#Contenido ul {
	margin-top: 30px;
	margin-right: 30px;
	list-style: none;
	display: flex;
	justify-content: left;
}



footer {
		background: #76523E;
		clear: both;
}

footer ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
